
<div class="container">
  <br>
  <div class="row">
      <div class="col-md-6">
        <p>Datos Cliente</p>
        <div class="input-container"><input type="text" placeholder="Nombre" class="ng-pristine ng-valid ng-touched"></div>
        <div class="input-container"><input type="text" placeholder="Apellidos" class="ng-pristine ng-valid ng-touched"></div>
        <div class="input-container"><input type="text" placeholder="Direccion" class="ng-pristine ng-valid ng-touched"></div>
        <div class="input-container"><input type="text" placeholder="Codigo Postal" class="ng-pristine ng-valid ng-touched"></div>
      </div>

      <div class="col-md-6">
        <p>Datos Empresa</p>
        <div class="input-container"><input type="text" placeholder="Nombre" class="ng-pristine ng-valid ng-touched"></div>
        <div class="input-container"><input type="text" placeholder="Sitio Web" class="ng-pristine ng-valid ng-touched"></div>
        <div class="input-container"><input type="text" placeholder="Direccion" class="ng-pristine ng-valid ng-touched"></div>
        <div class="input-container"><input type="text" placeholder="Codigo Postal" class="ng-pristine ng-valid ng-touched"></div>
      </div>
  </div>